{% load static %}
<!-- gives us access to static files -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <!-- things you would want on every page as far as format (ex. header and footer) -->
    <a class="home-button" href="{% url 'list_albums' %}"> 
        <h1>Aziza's Music Collection</h1>
    </a> 
    {% block content %}
    {% endblock content %}
</body>
</html>